.grid-container {
  border: solid 2px black;
  border-left: 0;
}

.row {
  display: flex;
}

.square {
  border: solid 0.5px black;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  background-color: white;
}

.left-border {
  border-left: solid 2px black;
}

.top-border {
  border-top: solid 2px black;
}
